.About{
    width: 100%;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 10px blue;
    text-align: center;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
