.Line{
    width: 100%;
    height: 25px;
    position: fixed;
    background-color: rgb(25, 8, 87);
    padding: 7px;
    color: white;
}
.navBtn{
    background-color: rgb(25, 8, 87);
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.navBtn:hover{
    font-style: italic;
}