.productContainer{
    width: 335px;
    height: 580px;
    background-color: rgb(220, 217, 217);
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
    border: 2px solid transparent;
    display: inline-block;
    -webkit-box-shadow: -2px 10px 15px -7px rgba(0, 0, 0, 0.46);
    box-shodow: -2px 10px 15px -7px rgba(0, 0, 0, 0.46); 
}
.productContainer:hover {
    border-color: rgb(34, 34, 101);
}
.productImage{
    width: 100%;
}
